<%# <%= link_to "create new venue", new_club_venue_path(@venue) %>

<% @venues.each do |venue| %>
  <h1><%= venue.name %></h1>
  <h2><%= venue.category %></h2>
  <%= link_to "show this Venue", venue %>
<% end %>
