.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-hover {
  margin: 10px;
  color: white;
  background-color: #9cbfdd;
}
.btn-hover:hover{
  background-color: white;
  color: black;
  border-radius: 5px;
}
