// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.title {
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 5px;
}
.search-input {
  /* Add your custom styles for the text input field */
  /* Example styles: */
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}

.search-select {

  width: 200px;
  padding: 8px;
  height: auto;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}

.search-button {
  padding: 8px 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.h-100 {
  height: 100vh;
}

.background-ash{
 color: rgb(35, 2, 2);
}

.venue-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  .venue-button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
}

.col-md-4 {
  position: sticky;
  top: 0;
}

.navbar {
  position: relative;
  z-index: 1000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 35%, 35%;
  border-radius: 50%;
  //border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  color: rgb(166, 255, 0);
}

.carousel-control-prev-icon:after {
  content: '<';
  // top:50%;
  // height:0;
  font-size: 50px;
  color: rgb(166, 255, 0);
}

.butn-more{
  text-decoration: none;
  color: blue;
}
